/* 
    sudoku box
*/
#sudoku td {
    height: 50px;
    width: 50px;
    text-align: center;
}

/* 
    sudoku grid border 
*/
#sudoku td {
    border: 1px solid #858585;
}
#sudoku tr:first-child td {
    border-top-width: 3px;
}
#sudoku tr:nth-child(3) td, #sudoku tr:nth-child(6) td, #sudoku tr:last-child td {
    border-bottom-width: 3px;
}
#sudoku tr td:first-child {
    border-left-width: 3px;
}
#sudoku tr td:nth-child(3), #sudoku tr td:nth-child(6), #sudoku tr td:last-child {
    border-right-width: 3px;
}

/* 
    sudoku box status 
*/
#sudoku .solved {
    color: deeppink;
}
#sudoku .original {
    font-weight: bold;
}
#sudoku .selected-box {
    background-color: lightblue !important;
}
#sudoku .error-box {
    background-color: #f8d7da;
}